/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: 150px;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.div-center {
       position: absolute;
       top: 40%;
       left: 0;
       bottom: 0;
       right: 0;
       margin: auto;
  }

.sharp {
  border-radius:0;
}

.entrePOWERColor{
  background-color:rgb(156, 32, 23);
  color:white;
}


/*************************
EXAMPLES 2-7 BELOW 
**************************/

/* EXAMPLE 2 (larger logo) - simply adjust top bottom padding to make logo larger */

.example2 .navbar-brand>img {
  padding: 8px 16px;
}


.navbar {
  background-color: rgb(156, 32, 23);
  border-bottom: white;
}

.navbar .navbar-brand{
  color:white;
  background-color: white;
}

.navbar .nav > li > a {
    float: none;
    color: #fff;
}
.navbar .nav > li > a:hover {
    float: none;
    color: #fff;
    border-bottom: solid #fff;
    background-color:rgb(156, 32, 23);;
}

.navbar .nav > li > a:focus {
    float: none;
    color:white;
    background-color:rgb(156, 32, 23);;
}

.container
{
  padding-top:50px;
}