/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 80px;
  width: 325px;
}

.navbar-nav>li>a
{
  padding-top: 30px;
  padding-left: 10px;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.carousel
{
  margin-top:30px;
}

.div-center {
       position: absolute;
       left: 0;
       bottom: 0;
       right: 0;
       margin: auto;
  }

.sharp {
  border-radius:0;
}

.entrePOWERColor{
  background-color:rgb(226, 0, 0);
  color:white;
}

.entreBottom {
  border-bottom: 2px solid rgb(226, 0, 0)
}

.nav {
  height: 80px;
}

.img-circle
{
  width: 300px;
  height:300px;
}

.box{
  width:100%;
  height:150px;
  color:white;
  border-radius: 100px;
  background-color: rgb(226, 0, 0);
}

.under {
  
}
/*************************
EXAMPLES 2-7 BELOW 
**************************/

/* EXAMPLE 2 (larger logo) - simply adjust top bottom padding to make logo larger */

.example2 .navbar-brand>img {
  padding: 8px 16px;
}


.navbar {
  background-color: white;
  border-bottom: red;
}

.navbar .navbar-brand{
  color:white;
  background-color: white;
}

.navbar .nav > li > a {
    float: none;
    color: black;
}
.navbar .nav > li > a:hover {
    float: none;
    color: rgb(226, 0, 0);
    border-bottom: solid rgb(226, 0, 0);
    background-color:white;
}

.navbar .nav > li > a:focus {
    float: none;
    color:rgb(226, 0, 0);
    background-color:white;
}

.container
{
  padding-top:50px;
}